$title-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

$primary-color: #5b4fef;
$secondary-color: #48AF68;
$tertiary-color: #60F3AB;
$dark-color: #040505;
$light-color: #f4f7fb;
$white-color: #ffffff;
