.hero {
  background-image: url(../../../assets/images/baner01.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  &:after {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    // background-color: #1c183a91;
  }
  &__style {
    @apply z-20;
  }
}
