.hero {
  background-image: url(../../../assets/images/banner.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  &:after {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    // background-color: rgb(73, 67, 67);
  }
  //   &__style {
  //     z-index: 1;
  //   }
}
