.footer {
  &:before,
  &:after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    @apply hidden lg:block;
  }
  // &:before {
  //   background-image: url("../../../images/footer-top.png");
  // }
  // &:after {
  //   background-image: url("../../../images/footer-bottom.png");
  //   bottom: 0;
  //   right: 0;
  //   background-position: bottom;
  // }

  .footer-bottom {
    &__section-wrapper {
      @apply flex justify-center text-white;
    }
  }
  .footer-top {
    &__section {
      @apply flex justify-around mt-8 mb-10 md:flex-row flex-col;

      &--title {
        @apply text-2xl text-white border-b py-2 font-medium tracking-wide border-gray-700;
      }

      &--content {
        @apply mt-2;

        ul {
          li {
            @apply py-1 text-lg font-normal;
            a {
              @apply text-white;
              &:hover {
                // @apply hover:text-aquamarine;
              }
            }
          }
        }
      }
    }
  }
  .news-wrap {
    // @apply bg-woodsmoke-400;
    &__news-letter {
      @apply md:border-b p-2 border-gray-700 py-20;

      &--section-wrapper {
        @apply flex md:flex-row justify-between flex-col;

        &--news-title {
          @apply text-white text-lg font-normal md:text-2xl sm:text-xl md:w-1/2 sm:w-auto w-auto px-2;
        }

        &--news-form {
          @apply w-auto md:w-1/2;

          form {
            @apply w-full;

            &--nf-list {
              @apply flex items-center  border-b  py-2;

              &--email {
                @apply w-full md:w-1/2  text-lg text-white mr-3 py-1 px-2 rounded-lg mb-2 p-2;
              }

              &--submit {
                @apply bg-white text-green-900 font-bold text-sm  border-4  py-1 px-2 rounded;
              }
            }
          }
        }
      }
    }
  }
  &__bottom {
    @apply py-12;
  }
}
